{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Exchange | SkyCrypto Club{% endblock %}

{% block page %}Request Exchange{% endblock %}

{% block content %}

{% if insufficient %}
<script>
  $.notify({
            title: '<strong>{{ insufficient.title }}</strong>',
            message: ''
        },{
            type: 'danger',
            delay: 5000,
            placement: {
                from: 'top',
                align: 'center'
            }
        });
</script>
{% endif %}
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">perm_identity</i>
              </div>
              <h4 class="card-title">Request Exchange</h4>
            </div>
            <div class="card-body">
              <form method="post" class="form-horizontal">{% csrf_token %}
                <div class="row">
                    <label class="col-sm-3 col-form-label label-checkbox">Request from:</label>
                    <div class="col-sm-3 checkbox-radios">
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="requestFrom" value="site" disabled> Website [INSTANT] (soon)
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 checkbox-radios">
                        <div class="form-check">
                            <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="requestFrom" value="user" checked> Another user
                            <span class="circle">
                                <span class="check"></span>
                            </span>
                            </label>
                        </div>
                    </div>
                </div>
                <br/><hr><br/>
                <label class="bmd-label-floating">From:</label>
                <div class="row">
                  <div class="col-xl-3 col-12">
                    <select class="selectpicker col-12" id="fromPlatform" name="fromPlatform" data-style="select-with-transition" title="Platform" data-size="5" onchange="updateCurrency('fromPlatform', 'fromCurrency')">
                      {% for platform in platforms %}
                        <option value="{{ platform.id }}">
                          {{ platform.name }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-xl-2 col-12">
                    <select class="selectpicker col-12" id="fromCurrency" name="fromCurrency" data-style="select-with-transition" title="From Currency" data-size="5" onchange="getBalance()">
                    </select>
                  </div>
                  <div class="d-lg-none d-md-block">
                    <br/>
                  </div>
                  <div class="col-xl-3 col-12">
                    <div class="form-group col-12">
                      <label class="bmd-label-static">Amount (max: <span id="availableBalanceExchange"></span>)</label>
                      <input type="number" step="0.00000001" id="fromAmount" name="fromAmount" min="0" max="0" class="form-control" oninput="amountReceive('fromAmount', 'exchangerAmount', 'fromCurrency', false)">
                    </div>
                  </div>
                  <div class="d-lg-none d-md-block">
                    <br/>
                  </div>
                  <div class="col-xl-3 col-12">
                    <div class="form-group col-12">
                      <label class="bmd-label-static">Exchanger Receives (max: <span id="availableBalanceExchangeReceive"></span>)</label>
                      <input type="number" step="0.00000001" id="exchangerAmount" name="exchangerAmount" min="0" class="form-control" oninput="amountReceive('fromAmount', 'exchangerAmount', 'fromCurrency', true)">
                    </div>
                  </div>
                </div>
                <br />
                <label class="bmd-label-floating">To:</label>
                <div class="row">
                  <div class="col-xl-3 col-12">
                    <select class="selectpicker col-12" id="toPlatform" name="toPlatform" data-style="select-with-transition" title="Platform" data-size="5" onchange="updateCurrency('toPlatform', 'toCurrency')">
                      {% for platform in platforms %}
                        <option value="{{ platform.id }}">
                          {{ platform.name }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-xl-2 col-12">
                    <select class="selectpicker col-12" id="toCurrency" name="toCurrency" data-style="select-with-transition" title="To Currency" data-size="5">
                    </select>
                  </div>
                  <div class="d-lg-none d-md-block">
                    <br/>
                  </div>
                  <div class="col-xl-3 col-12">
                    <div class="form-group col-12">
                      <label class="bmd-label-static">Amount</label>
                      <input type="number" step="0.00000001" id="toAmount" name="toAmount" min="0" class="form-control" oninput="amountReceive('toAmount', 'creatorAmount', 'toCurrency', false)">
                    </div>
                  </div>
                  <div class="col-xl-3 col-12">
                    <div class="form-group col-12">
                      <label class="bmd-label-static">You Receive (max: <span id="balanceCreatorReceive"></span>)</label>
                      <input type="number" step="0.00000001" id="creatorAmount" name="creatorAmount" min="0" class="form-control" oninput="amountReceive('toAmount', 'creatorAmount', 'toCurrency', true)">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-rose pull-right">Make Request</button>
                  </div>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>

<script>
function amountReceive(toAmountID, receivedAmountID, toCurrencySelectID, backwards) {
  let givenAmountInputForm = document.getElementById(toAmountID);
  let receivedAmountInputForm = document.getElementById(receivedAmountID);
  let selectCurrencyForm = document.getElementById(toCurrencySelectID);

  let currency = selectCurrencyForm.options[selectCurrencyForm.selectedIndex].value;
  let givenAmount = givenAmountInputForm.value;
  let receivedAmount = receivedAmountInputForm.value;
  
  if (currency != "")
  $.ajax({
        type: "POST",
        url: "/get-exchange-amount/",
        headers: {
            "Content-Type": "application/json",
            "HTTP_GROUP_NAME": "groups_name",
            "X-CSRFToken": csrfcookie()
        },
        data: JSON.stringify({
            "currency": currency,
            "givenAmount": givenAmount,
            "receivedAmount": receivedAmount,
            "backwards": backwards,
        }),
        success: function(data){
            if (data != 400) {
                if (backwards)
                  givenAmountInputForm.value = data["givenAmount"]
                else
                  receivedAmountInputForm.value = data["receivedAmount"]
            }
        },
        failure: function(data){
            console.log(data);
        },
    });
}

function getBalance() {
  let selectPlatformForm = document.getElementById("fromPlatform");
  let selectCurrencyForm = document.getElementById("fromCurrency");
  let platform = selectPlatformForm.options[selectPlatformForm.selectedIndex].value;
  let currency = selectCurrencyForm.options[selectCurrencyForm.selectedIndex].value;
  $.ajax({
        type: "POST",
        url: "/get-available-balance/",
        headers: {
            "Content-Type": "application/json",
            "HTTP_GROUP_NAME": "groups_name",
            "X-CSRFToken": csrfcookie()
        },
        data: JSON.stringify({
            "platform": platform,
            "currency": currency,
            "user": "{{ user.username }}",
        }),
        success: function(data){
            if (data == 400) {
                $.notify({
                    title: '<strong>Invalid platform, currency or username!</strong>',
                    message: ''
                },{
                    type: 'danger',
                    delay: 900,
                    placement: {
                        from: 'top',
                        align: 'center'
                    }
                });
            }
            else {
                console.log(data);
                let available = document.getElementById("availableBalanceExchange");
                available.innerHTML = data["amount"];
                document.getElementById("fromAmount").max = data["amount"];
            }
        },
        failure: function(data){
            console.log(data);
        },
    });
}

function updateCurrency(platformSelect, currencySelect) {
  let selectForm = document.getElementById(platformSelect);
  let platform = selectForm.options[selectForm.selectedIndex].value;
  $.ajax({
        type: "POST",
        url: "/get-platform-currencies/",
        headers: {
            "Content-Type": "application/json",
            "HTTP_GROUP_NAME": "groups_name",
            "X-CSRFToken": csrfcookie()
        },
        data: JSON.stringify({
            "platform": platform,
        }),
        success: function(data){
            if (data == 400) {
                $.notify({
                    title: '<strong>Invalid platform!</strong>',
                    message: ''
                },{
                    type: 'danger',
                    delay: 900,
                    placement: {
                        from: 'top',
                        align: 'center'
                    }
                });
            }
            else {
                $('#' + currencySelect).find('option').remove();
                for (let currency of data) {
                  $('#' + currencySelect).append("<option name='currency'>"+ currency[0] +"</option>");
                }
                $('#' + currencySelect).selectpicker('refresh');
            }
        },
        failure: function(data){
            console.log(data);
        },
    });
}
</script>
{% endblock %}