{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Exchange | SkyCrypto Club{% endblock %}

{% block page %}Exchange{% endblock %}

{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-body">
                  <div class="card-collapse">
                    <div class="card-header" role="tab" id="filters">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseFilters" aria-expanded="true" aria-controls="collapseFilters" class="collapsed">
                          Filters
                          <i class="material-icons">keyboard_arrow_down</i>
                        </a>
                      </h5>
                    </div>
                    <div id="collapseFilters" class="collapse show" role="tabpanel" aria-labelledby="filters" data-parent="#accordion">
                      <div class="card-body">
                        <form id="filterForm" method="get" class="form-horizontal">
                          <div class="row">
                            <select class="selectpicker col-12 col-xl-3" id="fromPlatform" name="fromPlatform" data-style="select-with-transition" title="From Platform" data-size="5" onchange="updateCurrency('fromPlatform', 'fromCurrency')">
                              <option value="any" select>Any Platform</option>
                              {% for platform in platforms %}
                                <option value="{{ platform.id }}">
                                  {{ platform.name }}
                                </option>
                              {% endfor %}
                            </select>
                            <select class="selectpicker col-12 col-xl-3" id="fromCurrency" name="fromCurrency" data-style="select-with-transition" title="From Currency" data-size="5">
                            </select>
                            <select class="selectpicker col-12 col-xl-3" id="toPlatform" name="toPlatform" data-style="select-with-transition" title="To Platform" data-size="5" onchange="updateCurrency('toPlatform', 'toCurrency')">
                              <option value="any" select>Any Platform</option>
                              {% for platform in platforms %}
                                <option value="{{ platform.id }}">
                                  {{ platform.name }}
                                </option>
                              {% endfor %}
                            </select>
                            <select class="selectpicker col-12 col-xl-3" id="toCurrency" name="toCurrency" data-style="select-with-transition" title="To Currency" data-size="5">
                            </select>
                          </div>
                          <div class="row">
                            <div class="col-12 col-xl-3">
                              <div class="form-group col-12">
                                <label class="bmd-label-static">Min Requested</label>
                                <input type="number" step="0.00000001" id="minRequested" name="minRequested" min="0" class="form-control">
                              </div>
                            </div>
                            <div class="col-12 col-xl-3">
                              <div class="form-group col-12">
                                <label class="bmd-label-static">Max Requested</label>
                                <input type="number" step="0.00000001" id="maxRequested" name="maxRequested" min="0" class="form-control">
                              </div>
                            </div>
                            <div class="col-12 col-xl-3">
                              <div class="form-group col-12">
                                <label class="bmd-label-static">Min Given</label>
                                <input type="number" step="0.00000001" id="minGiven" name="minGiven" min="0" class="form-control">
                              </div>
                            </div>
                            <div class="col-12 col-xl-3">
                              <div class="form-group col-12">
                                <label class="bmd-label-static">Max Given</label>
                                <input type="number" step="0.00000001" id="maxGiven" name="maxGiven" min="0" class="form-control">
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-12">
                              <button type="submit" class="btn btn-rose pull-right">Filter</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                  <div class="card-icon">
                    <i class="material-icons">assignment</i>
                  </div>
                  <h4 class="card-title">Exchange History</h4>
                </div>
                <div class="card-body">
                  <div class="toolbar">
                    
                  </div>
                  <div class="material-datatables">
                    <table id="datatables" class="table table-hover display nowrap" cellspacing="0" width="100%" style="font-weight: bold;">
                      <thead>
                        <tr>
                          <th>#ID</th>
                          <th data-priority="1">Creator</th>
                          <th>Given</th>
                          <th>Requested</th>
                          <th data-priority="2">Sender</th>
                          <th>Status</th>
                          <th>Date</th>
                          <th class="disabled-sorting text-right">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for exchange in exchanges %}
                        <tr>
                          <td>#{{ exchange.eid }}</td>
                          <td>{{ exchange.creator }}</td>
                          <td>{{ exchange.from_amount }} <span style="color: {{exchange.from_currency.currency.color }};">{{ exchange.from_currency.currency.name }}</span> {{ exchange.from_currency.platform.name }}</td>
                          <td>{{ exchange.to_amount }} <span style="color: {{exchange.to_currency.currency.color }};">{{ exchange.to_currency.currency.name }}</span> {{ exchange.to_currency.platform.name }}</td>
                          <td>{{ exchange.exchanged_by }}</td>
                          <td><span style="font-weight: bold; color: {{ exchange.status.color }};">{{ exchange.status.status }}</span></td>
                          <td>{{ exchange.created_at }}</td>
                          <td class="text-right">
                            <a href="{% url 'exchange-page' exchange.eid %}" class="btn btn-link btn-primary btn-just-icon like"><i class="material-icons">assignment</i></a>
                            {% if exchange.creator.user == user %}
                              {% if exchange.status.status == "Open" or exchange.status.status == "Pending" %}
                                <span class="btn btn-link btn-danger btn-just-icon remove" style="cursor:pointer;"onclick="deleteRequest({{ exchange.eid }})"><i class="material-icons">close</i></span>
                              {% endif %}
                            {% endif %}
                            {% if exchange.status.status == "Completed" %}
                              <a href="" class="btn btn-link btn-warning btn-just-icon like"><i class="material-icons">help</i></a>
                            {% endif %}
                            {% if exchange.status.status == "Pending" %}
                              <span class="btn btn-link btn-success btn-just-icon remove" style="cursor:pointer;"onclick="approveRequest({{ exchange.eid }})"><i class="material-icons">check</i></span>
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                      <li class="page-item {% if not canPrevious %}disabled{% endif %}">
                        <a class="page-link" href="{% url 'exchanges-history' currentPage|add:-1 %}">Previous</a>
                      </li>
                      {% for page in pages %}
                        {% if page == currentPage %}
                          <li class="page-item active">
                            <span class="page-link">
                              {{ page }}
                              <span class="sr-only">(current)</span>
                            </span>
                          </li>
                        {% else %}
                        <li class="page-item"><a class="page-link" href="{% url 'exchanges-history' page %}">{{ page }}</a></li>
                        {% endif %}
                      {% endfor %}
                      <li class="page-item {% if not canNext %}disabled{% endif %}">
                        <a class="page-link" href="{% url 'exchanges-history' currentPage|add:1 %}">Next</a>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
<script>
function updateCurrency(platformSelect, currencySelect) {
  let selectForm = document.getElementById(platformSelect);
  let platform = selectForm.options[selectForm.selectedIndex].value;
  if (platform != "any")
  $.ajax({
        type: "POST",
        url: "/get-platform-currencies/",
        headers: {
            "Content-Type": "application/json",
            "HTTP_GROUP_NAME": "groups_name",
            "X-CSRFToken": csrfcookie()
        },
        data: JSON.stringify({
            "platform": platform,
        }),
        success: function(data){
            if (data == 400) {
                $.notify({
                    title: '<strong>Invalid platform!</strong>',
                    message: ''
                },{
                    type: 'danger',
                    delay: 900,
                    placement: {
                        from: 'top',
                        align: 'center'
                    }
                });
            }
            else {
                $('#' + currencySelect).find('option').remove();
                for (let currency of data) {
                  $('#' + currencySelect).append("<option name='currency'>"+ currency[0] +"</option>");
                }
                $('#' + currencySelect).selectpicker('refresh');
            }
        },
        failure: function(data){
            console.log(data);
        },
    });
}
function closeExchange(exchangeId) {
      $.ajax({
            type: "POST",
            url: "/delete-exchange/",
            headers: {
                "Content-Type": "application/json",
                "HTTP_GROUP_NAME": "groups_name",
                "X-CSRFToken": csrfcookie()
            },
            data: JSON.stringify({
                "eid": exchangeId,
            }),
            success: function(data){
                if (data != 200) {
                    $.notify({
                        title: '<strong>You can\'t close this exchange request!</strong>',
                        message: ''
                    },{
                        type: 'danger',
                        delay: 900,
                        placement: {
                            from: 'top',
                            align: 'center'
                        }
                    });
                }
                else {
                    location.reload();
                }
            },
            failure: function(data){
                console.log(data);
            },
        });
    }

    function deleteRequest(eid) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'The sent coins will be refunded and the request will be closed.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          closeExchange(eid);
        }
      })
    }
function openExchange(exchangeId) {
      $.ajax({
            type: "POST",
            url: "/open-exchange/",
            headers: {
                "Content-Type": "application/json",
                "HTTP_GROUP_NAME": "groups_name",
                "X-CSRFToken": csrfcookie()
            },
            data: JSON.stringify({
                "eid": exchangeId,
            }),
            success: function(data){
                if (data != 200) {
                    $.notify({
                        title: '<strong>You can\'t open this exchange request!</strong>',
                        message: ''
                    },{
                        type: 'danger',
                        delay: 900,
                        placement: {
                            from: 'top',
                            align: 'center'
                        }
                    });
                }
                else {
                    location.reload();
                }
            },
            failure: function(data){
                console.log(data);
            },
        });
    }

    function approveRequest(eid) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'The exchange will be made Open, making it public to everyone.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          openExchange(eid);
        }
      })
    }
$(document).ready(function() {
      var table = $('#datatable').DataTable(); ;
      $('#datatables').DataTable({
        "ordering": false,
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "searching": false,
        "language": {
          "emptyTable": "{{ emptyTableMessage }}",
        },
        responsive: true,
      });
    });
  </script>
{% endblock %}