{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Support | SkyCrypto Club{% endblock %}

{% block page %}Contact Support{% endblock %}

{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <div class="card-collapse">
                <div class="card-header" role="tab" id="filters">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseFilters" aria-expanded="true" aria-controls="collapseFilters" class="collapsed">
                      Filters
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="collapseFilters" class="collapse show" role="tabpanel" aria-labelledby="filters" data-parent="#accordion">
                  <div class="card-body">
                    <form id="filterForm" method="get" class="form-horizontal">
                      <div class="row">
                        {{ ticketsFilter.form.category }}
                        <div class="col-12 row">
                          <div class="form-group col-12 col-lg-6">
                            <label class="bmd-label">Creation Date From</label><br/>
                            <input type="date" name="date_range_min" class="col-12 form-control datetime" id="id_date_range_0">
                          </div>
                          <div class="form-group col-12 col-lg-6">
                            <label class="bmd-label">Creation Date To</label><br/>
                            <input type="date" name="date_range_max" class="col-12 form-control datetime" id="id_date_range_1">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <button type="submit" class="btn btn-rose pull-right">Filter</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">contact_support</i>
              </div>
              <h4 class="card-title">Contact Support</h4>
            </div>
            <div class="card-body ">
              <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                  <a class="btn btn-primary btn-round col-lg-11 col-md-12 col-sm-8" href="{% url 'create-ticket' %}">
                    <i class="material-icons">add</i> Create new ticket
                  </a>
                </div>
              </div>
              <br /><br />
              <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
              </div>
              <div class="material-datatables col-sm-12">
                <table id="datatables" class="table table-hover display nowrap" cellspacing="0" width="100%" style="font-weight: bold;">
                  <thead>
                    <tr>
                      {% if is_support %}<th>Creator</th>{% endif %}
                      <th data-priority="1">Ticket Title</th>
                      <th>Ticket Category</th>
                      <th data-priority="3">Status</th>
                      <th>Date</th>
                      <th data-priority="2" class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ticket in tickets %}
                    <tr>
                      {% if is_support %}<td>{{ ticket.creator.user.username }}</td>{% endif %}
                      <td>{{ ticket.title }}</td>
                      <td>{{ ticket.category.name }}</td>
                      <td>{% if ticket.closed == True %}
                            Completed
                          {% elif ticket.last_replied == ticket.creator %}
                            Open
                          {% else %}
                            Responded
                          {% endif %}</td>
                      <td>{{ ticket.created_at }}</td>
                      <td class="text-right">
                        <a href="{% url 'ticket' ticket.ticketId %}" class="btn btn-link btn-primary btn-just-icon like"><i class="material-icons">assignment</i></a>
                        {% if ticket.closed == False %}
                        <span class="btn btn-link btn-danger btn-just-icon remove" style="cursor:pointer;" onclick="closeTicket({{ ticket.ticketId }})"><i class="material-icons">close</i></span>
                        {% else %}
                        <span class="btn btn-link btn-info btn-just-icon remove" style="cursor:pointer;" onclick="openTicket({{ ticket.ticketId }})"><i class="material-icons">refresh</i></span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

  <script src="{% static 'assets/js/plugins/moment.min.js' %}"></script>
  <script src="{% static 'assets/js/plugins/bootstrap-selectpicker.js' %}"></script>
  <script src="{% static 'assets/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
  <script>
  function sendClosureTicket(ticketId) {
      $.ajax({
            type: "POST",
            url: "/close-ticket/",
            headers: {
                "Content-Type": "application/json",
                "HTTP_GROUP_NAME": "groups_name",
                "X-CSRFToken": csrfcookie()
            },
            data: JSON.stringify({
                "tid": ticketId,
            }),
            success: function(data){
                if (data != 200) {
                    $.notify({
                        title: '<strong>You can\'t close this ticket!</strong>',
                        message: ''
                    },{
                        type: 'danger',
                        delay: 900,
                        placement: {
                            from: 'top',
                            align: 'center'
                        }
                    });
                }
                else {
                    location.reload();
                }
            },
            failure: function(data){
                console.log(data);
            },
        });
    }

    function closeTicket(tid) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'The ticket will be closed without being checked anymore.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          sendClosureTicket(tid);
        }
      })
    }
  function sendOpeningTicket(ticketId) {
      $.ajax({
            type: "POST",
            url: "/open-ticket/",
            headers: {
                "Content-Type": "application/json",
                "HTTP_GROUP_NAME": "groups_name",
                "X-CSRFToken": csrfcookie()
            },
            data: JSON.stringify({
                "tid": ticketId,
            }),
            success: function(data){
                if (data != 200) {
                    $.notify({
                        title: '<strong>You can\'t open this ticket!</strong>',
                        message: ''
                    },{
                        type: 'danger',
                        delay: 900,
                        placement: {
                            from: 'top',
                            align: 'center'
                        }
                    });
                }
                else {
                    location.reload();
                }
            },
            failure: function(data){
                console.log(data);
            },
        });
    }

    function openTicket(tid) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'The ticket will be reopened for further informations to be added.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          sendOpeningTicket(tid);
        }
      })
    }
    $(document).ready(function() {
      var table = $('#datatable').DataTable(); ;
      $('#datatables').DataTable({
        "ordering": false,
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "searching": false,
        "language": {
          "emptyTable": "{{ emptyTableMessage }}",
        },
        responsive: true,
      });

      $('.datepicker').datetimepicker({
          icons: {
              time: "fa fa-clock-o",
              date: "fa fa-calendar",
              up: "fa fa-chevron-up",
              down: "fa fa-chevron-down",
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-screenshot',
              clear: 'fa fa-trash',
              close: 'fa fa-remove'
          }
      });
    });
  </script>

      {% endblock %}