{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Open Ticket | SkyCrypto Club{% endblock %}

{% block page %}Support Ticket{% endblock %}

{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-icon card-header-success">
              <div class="card-icon">
                <i class="material-icons">contact_support</i>
              </div>
              <h4 class="card-title">Open Support Ticket</h4>
            </div>
            <div class="card-body">
              <form method="post" class="form-horizontal">{% csrf_token %}
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group ">
                      <label class="bmd-label-floating">Ticket Title (Choose a short and suggestive title to describe your problem)</label>
                      <input type="text" class="form-control" name="title" maxlength=60>
                    </div>
                  </div>
                <select class="selectpicker col-sm-12" data-style="select-with-transition" title="Category" name="category" data-size="5">
                  {% for category in categories%}
                  <option value="{{ category.order }}">{{ category.name }}</option>
                  {% endfor %}
                </select>
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="description">Describe your problem as detailed as possible</label>
                      <textarea class="form-control" id="message" name="message" rows="5"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-left: auto; margin-right: auto;">
                  <div class="col-md-6 col-xl-8" style="margin-left: auto; margin-right: auto;"> 
                  </div>
                  <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12 row">
                    <div class='text-center col-12'>
                      <script src='https://www.google.com/recaptcha/api.js'></script>
                      <div class="g-recaptcha" style='display: inline-block' data-sitekey="6LdZt7MZAAAAAMIGRZt8agpptOzkbJjNAN076RLb"></div>
                    </div>
                    <div class="col-12 text-center">
                      <button type="submit" class="btn btn-primary btn-round">
                        <i class="material-icons">add</i> Submit Ticket
                      </button>
                    </div>
                  </div>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}