{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}FAQ Panel | SkyCrypto Club{% endblock %}

{% block content %}
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-body">
              <div class="card-collapse">
                <div class="card-header" role="tab" id="filters">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" href="#collapseFilters" aria-expanded="true" aria-controls="collapseFilters" class="collapsed">
                      Filters
                      <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                  </h5>
                </div>
                <div id="collapseFilters" class="collapse show" role="tabpanel" aria-labelledby="filters" data-parent="#accordion">
                  <div class="card-body">
                    <form id="filterForm" method="get" class="form-horizontal">
                      <div class="row">
                        {{ faqFilter.form.category }}
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <button type="submit" class="btn btn-rose pull-right">Filter</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card ">
            <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                <i class="material-icons">contact_support</i>
              </div>
              <h4 class="card-title">FAQ Panel</h4>
            </div>
            <div class="card-body ">
              {% if canAdd %}
              <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4 col-sm-12 text-center">
                  <a class="btn btn-primary btn-round col-lg-11 col-md-12 col-sm-8" href="{% url 'faq-new' %}">
                    <i class="material-icons">add</i> Add new FAQ
                  </a>
                </div>
              </div>
              {% endif %}
              <br /><br />
              <div class="toolbar">
                <!--        Here you can write extra buttons/actions for the toolbar              -->
              </div>
              <div class="material-datatables col-sm-12">
                <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                  <thead>
                    <tr>
                      <th>Category</th>
                      <th data-priority="1">Question</th>
                      <th data-priority="2" class="disabled-sorting text-right">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for question in questions %}
                    <tr>
                      <td>{{ question.category.name }}
                      <td>{{ question.question }}</td>
                      <td class="text-right">
                        {% if canEdit %}
                          <a href="{% url 'faq-edit' question.id %}" class="btn btn-link btn-primary btn-just-icon like"><i class="material-icons">edit</i></a>
                        {% endif %}
                        {% if canDelete %}
                          <span class="btn btn-link btn-danger btn-just-icon remove" style="cursor:pointer;" onclick="deleteFAQ({{ question.id }})"><i class="material-icons">close</i></span>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  <script>
  function sendDeletionFAQ(qid) {
      $.ajax({
            type: "POST",
            url: "/delete-faq/",
            headers: {
                "Content-Type": "application/json",
                "HTTP_GROUP_NAME": "groups_name",
                "X-CSRFToken": csrfcookie()
            },
            data: JSON.stringify({
                "id": qid,
            }),
            success: function(data){
                if (data != 200) {
                    $.notify({
                        title: '<strong>You can\'t delete this question!</strong>',
                        message: ''
                    },{
                        type: 'danger',
                        delay: 900,
                        placement: {
                            from: 'top',
                            align: 'center'
                        }
                    });
                }
                else {
                    location.reload();
                }
            },
            failure: function(data){
                console.log(data);
            },
        });
    }

    function deleteFAQ(qid) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'The question will be deleted permanently.',
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes!'
      }).then((result) => {
        if (result.value) {
          sendDeletionFAQ(qid);
        }
      })
    }
  </script>

      {% endblock %}