{% extends "index_base.html" %}

{% block title %}400 | SkyCrypto Club{% endblock %}

{% block page %}SkyCrypto.Club{% endblock %}

{% block content %}
    <div class="main-page">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-signup card-hidden">
              <h1 class="card-title text-center" style="font-size:x-large"><span style="font-size:xxx-large">400</span><br />Bad Request</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}