{% extends "index_base.html" %}

{% block title %}500 | SkyCrypto Club{% endblock %}

{% block page %}SkyCrypto.Club{% endblock %}

{% block content %}
    <div class="main-page">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-signup card-hidden">
              <h1 class="card-title text-center" style="font-size:large"><span style="font-size:xxx-large">500</span><br />There was an internal error. Please contact support if error persists.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}