{% extends "index_base.html" %}

{% block title %}Welcome | SkyCrypto Club{% endblock %}

{% block page %}Home{% endblock %}

{% block content %}
    <div class="main-page">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-signup card-hidden">
              <h2 class="card-title text-center">SkyCrypto Club</h4>
              <h4 class="card-title text-center">A place for your crypto needs</h4>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                    <div class="info info-horizontal">
                      <div class="icon icon-rose">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Fast</h4>
                        <p class="description">
                          We count on easy to use and fast transactions.
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-primary">
                        <i class="material-icons">compare_arrows</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Exchange</h4>
                        <p class="description">
                          Exchange through all the crypto currencies our partners support.
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-info">
                        <i class="material-icons">backup</i>
                      </div>
                      <div class="description">
                        <h4 class="info-title">Safe</h4>
                        <p class="description">
                          All your investments are backed up by us and you'll always get your earnings.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                    <h4 class="card-title">Partners</h4>
                    <a href="https://stake.com/?c=SkyCryptoClub">
                      <img class="d-md-none" src="{{ banners.stake_small }}">
                      <img class="d-none d-md-block d-xl-none mx-auto" src="{{ banners.stake_medium }}">
                      <img class="d-none d-xl-block mx-auto" src="{{ banners.stake_large }}">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}