{% extends "index_base.html" %}

{% block title %}Welcome | SkyCrypto Club{% endblock %}

{% block page %}SkyCrypto.Club{% endblock %}

{% block content %}
    <div class="main-page">
      <div class="container">
        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-signup card-hidden">
              <h1 class="card-title text-center" style="font-size:large"><span style="font-size:xx-large">Welcome to SkyCrypto Club</span><br />Cryptocurrency exchanges made right</h1>
              <h2 class="card-title text-center" style="font-size:medium">Peer-to-peer and client-server transactions safely</h2>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8 ml-auto mr-auto">
                    <div class="info info-horizontal">
                      <div class="icon icon-rose">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <div class="description">
                        <h3 class="info-title" style="font-size:large">Fast</h3>
                        <p class="description">
                          We count on easy to use and fast transactions.
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-primary">
                        <i class="material-icons">compare_arrows</i>
                      </div>
                      <div class="description">
                        <h3 class="info-title" style="font-size:large">Exchange</h3>
                        <p class="description">
                          Exchange through all the crypto currencies our partners support.
                        </p>
                      </div>
                    </div>
                    <div class="info info-horizontal">
                      <div class="icon icon-info">
                        <i class="material-icons">backup</i>
                      </div>
                      <div class="description">
                        <h3 class="info-title" style="font-size:large">Safe</h3>
                        <p class="description">
                          All your investments are backed up by us and you'll always get your earnings.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                    <h3 class="card-title" style="font-size:large">Partners</h3>
                    <a href="https://stake.com/?c=SkyCryptoClub">
                      <img class="d-md-none" src="{{ banners.stake_small }}" alt="Stake Small Banner">
                      <img class="d-none d-md-block d-xl-none mx-auto" src="{{ banners.stake_medium }}" alt="Stake Medium Banner">
                      <img class="d-none d-xl-block mx-auto" src="{{ banners.stake_large }}" alt="Stake Large Banner">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}