{% extends "index_base.html" %}

{% block title %}Password Recovery | SkyCrypto Club{% endblock %}

{% block page %}SkyCrypto.Club{% endblock %}

{% block content %}

<form class="form" method="post" action="" id="recover-form">{% csrf_token %}
<div class="login-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
                <div class="card card-login">
                    <div class="card-header card-header-rose text-center">
                        <h4 class="card-title">Recover Password</h4>
                    </div>
                    <div class="card-body text-center">
                        <span class="bmd-form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">account_circle</i>
                            </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username..." minlength="3" maxlength="34" id="username" name="username" required>
                        </div>
                        </span>
                        <span class="bmd-form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">
                                <i class="material-icons">email</i>
                              </span>
                            </div>
                            <input type="email" class="form-control" placeholder="Email..." id="email" name="email" required>
                          </div>
                        </span>
                    </div>
                    <div class="card-footer justify-content-center">
                        <button type="button" onclick="recover()" class="btn btn-rose btn-link btn-lg">Recover</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function recover() {
          let form = document.getElementById("recover-form");
          if (!form.checkValidity()) {
            let username = document.getElementById("username");
            let email = document.getElementById("email");
            if (!username.checkValidity()){
              $.notify({
                  title: '<strong>Username length must be between 3 and 34!</strong>',
                  message: ''
              },{
                  type: 'danger',
                  delay: 900,
                  placement: {
                      from: 'top',
                      align: 'center'
                  }
              });
            }
            if (!email.checkValidity()) {
              $.notify({
                  title: '<strong>Please enter a valid email!</strong>',
                  message: ''
              },{
                  type: 'danger',
                  delay: 900,
                  placement: {
                      from: 'top',
                      align: 'center'
                  }
              });
            }
          }
          else {
            form.submit();
          }
        }
      </script>
{% endblock %}