{% extends "dashboard_base.html" %}
{% load static %}

{% block title %}Settings | SkyCrypto Club{% endblock %}

{% block page %}Profile Settings{% endblock %}

{% block content %}
<script>
  function giveError(title, message){
    $.notify({
        title: '<strong>' + title + '</strong>',
        message: message
    },{
        type: 'danger',
        delay: 2000,
        placement: {
            from: 'top',
            align: 'center'
        }
    });
  }  
  function giveSuccess(title, message){
    $.notify({
        title: '<strong>' + title + '</strong>',
        message: message
    },{
        type: 'success',
        delay: 1500,
        placement: {
            from: 'top',
            align: 'center'
        }
    });
  }  
</script>
{% if passError %}
<script>giveError('{{ passError.title }}', '{{ passError.message }}')</script>
{% endif %}
{% if newPassError %}
<script>giveError('{{ newPassError.title }}', '{{ newPassError.message }}')</script>
{% endif %}
{% if dimensionsError %}
<script>giveError('{{ dimensionsError.title }}', '{{ dimensionsError.message }}')</script>
{% endif %}
{% if sizeError %}
<script>giveError('{{ sizeError.title }}', '{{ sizeError.message }}')</script>
{% endif %}
{% if changedEmail %}
<script>giveSuccess('{{ changedEmail.title }}', '{{ changedEmail.message }}')</script>
{% endif %}
{% if changedPassword %}
<script>giveSuccess('{{ changedPassword.title }}', '{{ changedPassword.message }}')</script>
{% endif %}
{% if changedAvatar %}
<script>giveSuccess('{{ changedAvatar.title }}', '{{ changedAvatar.message }}')</script>
{% endif %}
      <div class="content">
        <div class="container-fluid">
          <div class="row text-center">
            <div class="container">
            <a class="btn btn-info col-sm-12 col-md-5 col-lg-4 col-xl-2 active" href="{% url 'settings' %}">
              Profile
            </a>
            <a class="btn btn-info col-sm-12 col-md-5 col-lg-4 col-xl-2" href="{% url 'privacy' %}">
              Privacy
            </a>
            <a class="btn btn-info col-sm-12 col-md-5 col-lg-4 col-xl-2" href="{% url 'linked' %}">
              Linked Accounts
            </a>
          </div>
          </div>
          <div class="card">
            <div class="card-header card-header-icon card-header-rose">
              <div class="card-icon">
                <i class="material-icons">perm_identity</i>
              </div>
              <h4 class="card-title">Edit Profile -
                <small class="category">Complete your profile</small>
              </h4>
            </div>
            <div class="card-body">
              <form enctype="multipart/form-data" method="post" class="form-horizontal">{% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group ">
                        <label class="bmd-label-floating">Email</label>
                        <input name="email" type="email" class="form-control" value="{{ user.email }}" autocomplete="off" required>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group ">
                        <label class="bmd-label-floating">Password</label>
                        <input name="password" type="password" class="form-control" autocomplete="off" required>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" autocomplete="off">New Password</label>
                      <input name="newpass" type="password" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label class="bmd-label-floating" autocomplete="off">Confirm New Password</label>
                      <input name="newpassconfirm" type="password" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-sm-6 text-center" style="margin-right: auto; margin-left: auto;"></div>
                  <button type="submit" name="updateProfile" class="btn btn-rose pull-right col-md-3 col-sm-12">Update Profile</button>
                </div>
                <br /><hr><br />
                <div class="row">
                  <div class="col-lg-5"></div>
                  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 text-center">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="photo">
                        <img src="{{ profile.avatar.url }}" width="150" height="150">
                      </div>
                      <span class="btn btn-raised btn-round btn-default btn-file">
                          <span class="fileinput-new">Select image</span>
                          <span class="fileinput-exists">Change</span>
                          <input type="file" name="newAvatar" accept="image/x-png,image/jpeg"/>
                      </span>
                    </div>                  
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <button type="submit" name="updateAvatar" class="btn btn-rose pull-right col-sm-12">Update Avatar</button>
                  </div>
                </div>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% endblock %}